---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

const team = {
  geschaeftsfuerung: [
    {
      name: "Niklas Lauter",
      title: "Dachdecker- & Klempnermeister",
      image: "Lauter",
    },
    { name: "Thomas Struck", title: "Dachdeckermeister", image: "Struck" },
  ],
  baustelle: [
    { name: "Jendrik Kahl", title: "Dachdeckermeister", image: "Jungs8" },
    { name: "Leonard Saum", title: "Dachdecker", image: "Jungs1" },
    { name: "Vahid Karimi", title: "Dachdecker", image: "Jungs2" },
    { name: "Habib Babaqoul", title: "Dachdecker", image: "Jungs6" },
    { name: "Hubert Oppermann", title: "Dachdecker", image: "Jungs9" },
    { name: "Erik Merkl", title: "Dachdecker", image: "Jungs14" },
    { name: "Kazem Adeli", title: "Dachdecker", image: "Jungs12" },
    { name: "Bakhir Amirov", title: "Dachdecker", image: "Jungs7" },
    {
      name: "Luca-Maximillian Schallenberg",
      title: "Dachdecker",
      image: "Jungs4",
    },
    { name: "Max Odendahl", title: "Azubi", image: "Jungs10" },
    { name: "Nick Rothmann", title: "Azubi", image: "Jungs11" },
    { name: "Vincent Happe", title: "Azubi", image: "Jungs5" },
    { name: "Till Wickert", title: "Azubi", image: "Jungs15" },
    { name: "Wolfgang Gebler", title: "Lagerist", image: "Jungs13" },
  ],
  buero: [
    {
      name: "Kim Sophie Kück",
      title: "Kauffrau für Büromanagm./Ausbilderin",
      image: "buro1",
    },
    {
      name: "Sylvia Potthoff",
      title: "Kauffrau für Büromanagement",
      image: "buro2",
    },
    {
      name: "Nicole Gebler",
      title: "Kauffrau für Büromanagement",
      image: "buro5",
    },
    {
      name: "Ute Bitterberg",
      title: "Kauffrau für Büromanagement",
      image: "buro3",
    },
    { name: "Luca-Rene Seer", title: "Azubi", image: "buro4" },
  ],
};
---

<Layout title="Dachdeckermeister | Lauter & Struck">
  <!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header-bg"
      style="background-image: url(/assets/images/struck/details/details1.jpg)"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="index.html">Lauter & Struck</a></li>
        </ul>
        <h2>Unser Team</h2>
      </div>
    </div>
  </section>
  <!--Page Header End-->

  <!--Team Page Start-->
  <section class="team-page">
    <div class="container">
      <div class="row">
        <div class="section-title text-left wow fadeInUp">
          <div class="section-sub-title-box">
            <p class="section-sub-title">Team</p>
            <div class="section-title-shape-1">
              <img src="/assets/images/struck/icons/roof1.svg" alt="" />
            </div>
          </div>
          <h2 class="section-title__title">Geschäftsführung</h2>
        </div>
        {
          team.geschaeftsfuerung.map((member) => (
            <div
              class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="team-one__single">
                <div class="team-one__img-box">
                  <div class="team-one__img">
                    <img
                      src={`/assets/images/struck/team/${member.image}.jpg`}
                      alt="Niklas Lauter | Geschäftsführung"
                    />
                  </div>
                </div>
                <div class="team-one__content-box">
                  <div class="team-one__content">
                    <h3 class="team-one__name">{member.name}</h3>
                    <p class="team-one__sub-title">{member.title}</p>
                    <div class="team-one__shape">
                      <img
                        src="/assets/images/shapes/team-one-shape.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="section-title text-left wow fadeInUp">
          <div class="section-sub-title-box">
            <p class="section-sub-title">Team</p>
            <div class="section-title-shape-1">
              <img src="/assets/images/struck/icons/roof1.svg" alt="" />
            </div>
          </div>
          <h2 class="section-title__title">Auf den Baustellen unterwegs</h2>
        </div>
        {
          team.baustelle.map((member) => (
            <div
              class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="team-one__single">
                <div class="team-one__img-box">
                  <div class="team-one__img">
                    <img
                      src={`/assets/images/struck/team/${member.image}.jpg`}
                      alt="Niklas Lauter | Geschäftsführung"
                    />
                  </div>
                </div>
                <div class="team-one__content-box">
                  <div class="team-one__content">
                    <h3 class="team-one__name">{member.name}</h3>
                    <p class="team-one__sub-title">{member.title}</p>

                    <div class="team-one__shape">
                      <img
                        src="/assets/images/shapes/team-one-shape.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
        <div
          class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="100ms"
        >
          <a href="/jobs/">
            <div class="team-one__single">
              <div class="team-one__img-box">
                <div class="team-one__img">
                  <img
                    src={`/assets/images/struck/team/werdeTeam.jpg`}
                    alt="Niklas Lauter | Geschäftsführung"
                  />
                </div>
              </div>
              <div class="team-one__content-box">
                <div class="team-one__content">
                  <h3 class="team-one__name">Geselle / Azubi für 2025</h3>
                  <p class="team-one__sub-title">Wir suchen Dich!</p>

                  <div class="team-one__shape">
                    <img
                      src="/assets/images/shapes/team-one-shape.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="section-title text-left wow fadeInUp">
          <div class="section-sub-title-box">
            <p class="section-sub-title">Team</p>
            <div class="section-title-shape-1">
              <img src="/assets/images/struck/icons/roof1.svg" alt="" />
            </div>
          </div>
          <h2 class="section-title__title">Büro</h2>
        </div>{
          team.buero.map((member) => (
            <div
              class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="team-one__single">
                <div class="team-one__img-box">
                  <div class="team-one__img">
                    <img
                      src={`/assets/images/struck/team/${member.image}.jpg`}
                      alt="Niklas Lauter | Geschäftsführung"
                    />
                  </div>
                </div>
                <div class="team-one__content-box">
                  <div class="team-one__content">
                    <h3 class="team-one__name">{member.name}</h3>
                    <p class="team-one__sub-title">{member.title}</p>

                    <div class="team-one__shape">
                      <img
                        src="/assets/images/shapes/team-one-shape.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <!--Team Page End-->
  <!--CTA One End-->
  <Footer />
</Layout>
